---
import "@fontsource/poppins/700.css";
import AboutImage from "../about-image/about-image.astro";
import Button from "../button/button.astro";
import style from "../../styles/about.module.css";
import Popup from "../popup/popup.astro";
const linkCurriculo =
  "https://drive.google.com/file/d/1yb7b4pHA69SyxFM9YavDLrQMoSL2z9Y7/view?usp=sharing";
---

<div id="container-about" class=`${style.container_about}`>
  <div id="container-descript-about" class=`${style.container_descript_about}`>
    <h2 data-aos="fade-right" class="title">About Me</h2>
    <p data-aos="fade-right" class=`${style.descript}`>
      Hello! my name is Lucas Montenegro, and I'm an <span class=`${style.bold_blue_s}`
        >aspiring Back-end developer</span
      > and <span class=`${style.bold_blue_h}`>web development</span> front-end since
      2022. I'm dedicated to the <span class=`${style.bold_blue_h}`
        >world of programming</span
      > focusing on back-end web development using the
      <span class=`${style.bold_blue_s}`
        >market's leading technologies.</span
      > Currently, I'm considering software developer, constantly seeking <span
        class=`${style.bold_blue_h}`>new challenges</span
      > and with the aim of deepening my knowledge to be able to work 
      as a <span class=`${style.bold_blue_s}`>Junior or Senior developer in the future</span>
    </p>
    <div id="container-btn-about" class=`${style.container_btn_about}`>
      <a
        data-aos="fade-up"
        data-aos-duration="2000"
        class=`${style.btn_cv}`
        href=`${linkCurriculo}`
        target="_blank">View CV</a
      >
      <Button />
    </div>
  </div>
  <div id="container-img-about" class=`${style.container_image_about}`>
    <AboutImage />
  </div>
  <Popup />
</div>
