---
import CertificatesImages from "../certificates-images/certificates-images.astro";
import CertificatesDescript from "../certificates-descript/certificates-descript.astro";
import style from "../../styles/certificates.module.css";
--- 

<div id="container-certificates" class=`${style.container_certificates}`>
  <div
    id="container-description-certificates"
    class=`${style.container_description_certificates}`
  >
    <div id="container-text-certificates">
      <h2 data-aos="fade-up" class=`${style.title}`>Certificates</h2>
      <p data-aos="fade-up" class=`${style.subtitle}`>
        “It all starts with the desire to do something”
      </p>
    </div>
    <div
      id="container-img-certificates"
      class=`${style.container_img_certificates}`
    >
      <a
        href="/Portfolio-Lucas/https://drive.google.com/drive/folders/1S4ZtZErGERbei-N70jd3FpQ_D7HDMNRv?usp=sharing"
        target="_blank"
      >
        <CertificatesImages />
      </a>
    </div>
  </div>
  <div
    id="container-descript-certificates"
    class=`${style.container_descript_certificates}`
  >
    <CertificatesDescript
      title="Web Development"
      name="INFORMATORIO"
      date="completed since july/2024"
    />
    <CertificatesDescript
      title="First stepts Front-end Development"
      name="Argentina Programa 4.0"
      date="completed since april/2023"
    />
    <CertificatesDescript
      title="Introduction of Programming"
      name="INFORMATORIO"
      date="completed since May/2024"
    />
    <div class="mt-10">
      <p data-aos="fade-right" data-aos-delay="350" class="italic">
        And others, which you can check out on my LinkedIn profile.....
      </p>
    </div>
  </div>
</div>
